*


{
    font-family: 'Roboto', sans-serif;
}
h1{ color: red,
}

p { font-style: italic;
color: #333
}
 header{
     background-color: lightgreen;
 }
header, main, footer{
width: 960px;
margin-left: auto;
margin-right: auto;

 }
 
footer {
    text-align: center;
    border-top: 2px solid lightgrey;
    padding: 16px;

}
footer img{
    width: 32px;
}

